<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>ISO 639 Language Code</th>
      <th>Number of Languages with Translated Term</th>
      <th>Directionality</th>
      <th>English Language Name</th>
      <th>Local Language Name</th>
      <th>Local or English Wikipedia Article</th>
      <th>Comment</th>
      <th>Translated Term</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>so</td>
      <td>1</td>
      <td>ltr</td>
      <td>Somalia</td>
      <td>Soomaaliga</td>
      <td>en:Somali language</td>
      <td></td>
      <td>Aadamaha Dijital ah</td>
    </tr>
    <tr>
      <td>sw</td>
      <td>1</td>
      <td>ltr</td>
      <td>Swahili</td>
      <td>Kiswahili</td>
      <td>en:Swahili language</td>
      <td></td>
      <td>Binadamu wa Kidijitali</td>
    </tr>
    <tr>
      <td>eo</td>
      <td>1</td>
      <td>ltr</td>
      <td>Esperanto</td>
      <td>Esperanto</td>
      <td>eo:Esperanto</td>
      <td></td>
      <td>Ciferecaj Homaroj</td>
    </tr>
    <tr>
      <td>gd</td>
      <td>1</td>
      <td>ltr</td>
      <td>Scottish Gaelic</td>
      <td>Gàidhlig</td>
      <td>en:Scottish Gaelic language</td>
      <td></td>
      <td>Daonnachdan didseatach</td>
    </tr>
    <tr>
      <td>ga</td>
      <td>1</td>
      <td>ltr</td>
      <td>Irish</td>
      <td>Gaeilge</td>
      <td>en:Irish Gaelic language</td>
      <td></td>
      <td>Daonnachtaí Digiteacha</td>
    </tr>
    <tr>
      <td>et</td>
      <td>1</td>
      <td>ltr</td>
      <td>Estonian</td>
      <td>Eesti</td>
      <td>en:Estonian language</td>
      <td></td>
      <td>Digitaalhumanitaaria</td>
    </tr>
    <tr>
      <td>fi</td>
      <td>1</td>
      <td>ltr</td>
      <td>Finnish</td>
      <td>Suomi</td>
      <td>fi:Suomen kieli</td>
      <td></td>
      <td>Digitaaliset ihmistieteet</td>
    </tr>
    <tr>
      <td>da</td>
      <td>1</td>
      <td>ltr</td>
      <td>Danish</td>
      <td>Dansk</td>
      <td>da:Dansk (sprog)</td>
      <td></td>
      <td>Digital Humaniora</td>
    </tr>
    <tr>
      <td>en, ha, ig, lb, mg, ny, sm, sn, st, tl, yo</td>
      <td>11</td>
      <td>ltr,rtl</td>
      <td>English, Hausa, Igbo, Luxembourgish, Malagasy, Chichewa, Samoan, Shona, Southern Sotho, Tagalog, Yoruba</td>
      <td>Tagalog / ᜆᜄᜎᜓᜄ᜔, Igbo, Gagana Samoa, chiShona, Chi-Chewa, English, Malagasy, Sesotho, هَوُسَ, Lëtzebuergesch, Yorùbá</td>
      <td>en:Chichewa language, en:Luxembourgish language, en:Igbo language, en:Sesotho language, en:Shona language, en:Samoan language, en:Yoruba language, en:English language, en:Malagasy language, en:Tagalog language, en:Hausa language</td>
      <td></td>
      <td>Digital Humanities</td>
    </tr>
    <tr>
      <td>no, sv, nb</td>
      <td>3</td>
      <td>ltr</td>
      <td>Norwegian, Swedish, Norwegian Bokmål</td>
      <td>Svenska, Norsk (bokmål), Norsk (bokmål / riksmål)</td>
      <td>sv:Svenska, en:Bokmål, no:Norsk</td>
      <td>, redirects to no</td>
      <td>Digital humaniora</td>
    </tr>
    <tr>
      <td>nl</td>
      <td>1</td>
      <td>ltr</td>
      <td>Dutch</td>
      <td>Nederlands</td>
      <td>nl:Nederlands</td>
      <td></td>
      <td>Digitale Geesteswetenschappen</td>
    </tr>
    <tr>
      <td>af</td>
      <td>1</td>
      <td>ltr</td>
      <td>Afrikaans</td>
      <td>Afrikaans</td>
      <td>en:Afrikaans language</td>
      <td></td>
      <td>Digitale Geesteswetenskappe</td>
    </tr>
    <tr>
      <td>de</td>
      <td>1</td>
      <td>ltr</td>
      <td>German</td>
      <td>Deutsch</td>
      <td>de:Deutsche Sprache</td>
      <td></td>
      <td>Digitale Geisteswissenschaften</td>
    </tr>
    <tr>
      <td>fy</td>
      <td>1</td>
      <td>ltr</td>
      <td>West Frisian</td>
      <td>Frysk</td>
      <td>en:West Frisian language</td>
      <td></td>
      <td>Digitale Humanities</td>
    </tr>
    <tr>
      <td>nl</td>
      <td>1</td>
      <td>ltr</td>
      <td>Dutch</td>
      <td>Nederlands</td>
      <td>nl:Nederlands</td>
      <td></td>
      <td>Digitale geesteswetenschappen</td>
    </tr>
    <tr>
      <td>sl</td>
      <td>1</td>
      <td>ltr</td>
      <td>Slovenian</td>
      <td>Slovenščina</td>
      <td>sl:Slovenščina</td>
      <td></td>
      <td>Digitalna humanistika</td>
    </tr>
    <tr>
      <td>bs</td>
      <td>1</td>
      <td>ltr</td>
      <td>Bosnian</td>
      <td>Bosanski</td>
      <td>en:Bosnian language</td>
      <td></td>
      <td>Digitalne humanističke nauke</td>
    </tr>
    <tr>
      <td>hr</td>
      <td>1</td>
      <td>ltr</td>
      <td>Croatian</td>
      <td>Hrvatski</td>
      <td>en:Croatian language</td>
      <td></td>
      <td>Digitalne humanističke znanosti</td>
    </tr>
    <tr>
      <td>ak, tw</td>
      <td>2</td>
      <td>ltr</td>
      <td>Akan, Twi</td>
      <td>Akana, Twi</td>
      <td>en:Twi language, en:Akan language</td>
      <td></td>
      <td>Digitals Nnipa Ho Adesua</td>
    </tr>
    <tr>
      <td>ee</td>
      <td>1</td>
      <td>ltr</td>
      <td>Ewe</td>
      <td>Ɛʋɛ</td>
      <td>en:Ewe language</td>
      <td></td>
      <td>Digitál Amegbetɔŋutinunya</td>
    </tr>
    <tr>
      <td>hu</td>
      <td>1</td>
      <td>ltr</td>
      <td>Hungarian</td>
      <td>Magyar</td>
      <td>hu:Magyar nyelv</td>
      <td></td>
      <td>Digitális humán tudományok</td>
    </tr>
    <tr>
      <td>sk</td>
      <td>1</td>
      <td>ltr</td>
      <td>Slovak</td>
      <td>Slovenčina</td>
      <td>sk:Slovenčina</td>
      <td></td>
      <td>Digitálne humanitné vedy</td>
    </tr>
    <tr>
      <td>cs</td>
      <td>1</td>
      <td>ltr</td>
      <td>Czech</td>
      <td>Česky</td>
      <td>cs:Čeština</td>
      <td></td>
      <td>Digitální humanitní vědy</td>
    </tr>
    <tr>
      <td>lv</td>
      <td>1</td>
      <td>ltr</td>
      <td>Latvian</td>
      <td>Latviešu</td>
      <td>en:Latvian language</td>
      <td></td>
      <td>Digitālās humanitārās zinātnes</td>
    </tr>
    <tr>
      <td>tr</td>
      <td>1</td>
      <td>ltr</td>
      <td>Turkish</td>
      <td>Türkçe</td>
      <td>en:Turkish language</td>
      <td></td>
      <td>Dijital Beşeri Bilimler</td>
    </tr>
    <tr>
      <td>ku</td>
      <td>1</td>
      <td>ltr</td>
      <td>Kurdish (Kurmanji)</td>
      <td>Kurdî</td>
      <td>en:Kurmanji</td>
      <td></td>
      <td>Dijîtal Humanities</td>
    </tr>
    <tr>
      <td>cy</td>
      <td>1</td>
      <td>ltr</td>
      <td>Welsh</td>
      <td>Cymraeg</td>
      <td>en:Welsh language</td>
      <td></td>
      <td>Dyniaethau digidol</td>
    </tr>
    <tr>
      <td>ku</td>
      <td>1</td>
      <td>ltr</td>
      <td>Kurdish (Kurmanji)</td>
      <td>Kurdî</td>
      <td>en:Kurmanji</td>
      <td></td>
      <td>Dîjîtal Humanities</td>
    </tr>
    <tr>
      <td>lg</td>
      <td>1</td>
      <td>ltr</td>
      <td>Ganda</td>
      <td>Luganda</td>
      <td>en:Luganda language</td>
      <td></td>
      <td>Eby’obuntubulamu ebya Digital</td>
    </tr>
    <tr>
      <td>bm</td>
      <td>1</td>
      <td>ltr</td>
      <td>Bambara</td>
      <td>Bamanankan</td>
      <td>en:Bambara language</td>
      <td></td>
      <td>Hadamadenw ka dɔnniya nimɔrɔma</td>
    </tr>
    <tr>
      <td>pt</td>
      <td>1</td>
      <td>ltr</td>
      <td>Portuguese</td>
      <td>Português</td>
      <td>pt:Língua portuguesa</td>
      <td></td>
      <td>Humanidades Digitais</td>
    </tr>
    <tr>
      <td>qu</td>
      <td>1</td>
      <td>ltr</td>
      <td>Quechua</td>
      <td>Runa Simi</td>
      <td>en:Quechua language</td>
      <td></td>
      <td>Humanidades Digitales nisqa</td>
    </tr>
    <tr>
      <td>gn</td>
      <td>1</td>
      <td>ltr</td>
      <td>Guarani</td>
      <td>Avañe'ẽ</td>
      <td>en:Guarani language</td>
      <td></td>
      <td>Humanidades Digitales rehegua</td>
    </tr>
    <tr>
      <td>ay</td>
      <td>1</td>
      <td>ltr</td>
      <td>Aymara</td>
      <td>Aymar</td>
      <td>en:Aymara language</td>
      <td></td>
      <td>Humanidades Digitales uka tuqit yatxataña</td>
    </tr>
    <tr>
      <td>gl</td>
      <td>1</td>
      <td>ltr</td>
      <td>Galician</td>
      <td>Galego</td>
      <td>en:Galician language</td>
      <td></td>
      <td>Humanidades Dixitais</td>
    </tr>
    <tr>
      <td>es</td>
      <td>1</td>
      <td>ltr</td>
      <td>Spanish</td>
      <td>Español</td>
      <td>es:Idioma español</td>
      <td></td>
      <td>Humanidades digitales</td>
    </tr>
    <tr>
      <td>id</td>
      <td>1</td>
      <td>ltr</td>
      <td>Indonesian</td>
      <td>Bahasa Indonesia</td>
      <td>id:Bahasa Indonesia</td>
      <td></td>
      <td>Humaniora Digital</td>
    </tr>
    <tr>
      <td>pl</td>
      <td>1</td>
      <td>ltr</td>
      <td>Polish</td>
      <td>Polski</td>
      <td>pl:Język polski</td>
      <td></td>
      <td>Humanistyka cyfrowa</td>
    </tr>
    <tr>
      <td>eu</td>
      <td>1</td>
      <td>ltr</td>
      <td>Basque</td>
      <td>Euskara</td>
      <td>en:Basque language</td>
      <td></td>
      <td>Humanitate Digitalak</td>
    </tr>
    <tr>
      <td>la</td>
      <td>1</td>
      <td>ltr</td>
      <td>Latin</td>
      <td>Latina</td>
      <td>en:Latin language</td>
      <td></td>
      <td>Humanitates digitales</td>
    </tr>
    <tr>
      <td>ca</td>
      <td>1</td>
      <td>ltr</td>
      <td>Catalan</td>
      <td>Català</td>
      <td>ca:Català</td>
      <td></td>
      <td>Humanitats digitals</td>
    </tr>
    <tr>
      <td>fr, ln</td>
      <td>2</td>
      <td>ltr</td>
      <td>French, Lingala</td>
      <td>Français, Lingála</td>
      <td>en:Lingala language, fr:Français</td>
      <td></td>
      <td>Humanités numériques</td>
    </tr>
    <tr>
      <td>it</td>
      <td>1</td>
      <td>ltr</td>
      <td>Italian</td>
      <td>Italiano</td>
      <td>it:Lingua italiana</td>
      <td></td>
      <td>Informatica umanistica</td>
    </tr>
    <tr>
      <td>jv</td>
      <td>1</td>
      <td>ltr</td>
      <td>Javanese</td>
      <td>Basa Jawa</td>
      <td>en:Javanese language</td>
      <td></td>
      <td>Kamanungsan Digital</td>
    </tr>
    <tr>
      <td>su</td>
      <td>1</td>
      <td>ltr</td>
      <td>Sundanese</td>
      <td>Basa Sunda</td>
      <td>en:Sundanese language</td>
      <td></td>
      <td>Kamanusaan Digital</td>
    </tr>
    <tr>
      <td>ms</td>
      <td>1</td>
      <td>ltr</td>
      <td>Malay</td>
      <td>Bahasa Melayu</td>
      <td>en:Malay language</td>
      <td></td>
      <td>Kemanusiaan Digital</td>
    </tr>
    <tr>
      <td>mi</td>
      <td>1</td>
      <td>ltr</td>
      <td>Māori</td>
      <td>Māori</td>
      <td>en:Maori language</td>
      <td></td>
      <td>Mamati Tangata</td>
    </tr>
    <tr>
      <td>vi</td>
      <td>1</td>
      <td>ltr</td>
      <td>Vietnamese</td>
      <td>Tiếng Việt</td>
      <td>en:Vietnamese language</td>
      <td></td>
      <td>Nhân văn kỹ thuật số</td>
    </tr>
    <tr>
      <td>uz</td>
      <td>1</td>
      <td>ltr</td>
      <td>Uzbek</td>
      <td>Ўзбек</td>
      <td>en:Uzbek language</td>
      <td></td>
      <td>Raqamli gumanitar fanlar</td>
    </tr>
    <tr>
      <td>az</td>
      <td>1</td>
      <td>ltr</td>
      <td>Azerbaijani</td>
      <td>Azərbaycanca / آذربايجان</td>
      <td>en:Azerbaijani language</td>
      <td></td>
      <td>Rəqəmsal humanitar elmlər</td>
    </tr>
    <tr>
      <td>om</td>
      <td>1</td>
      <td>ltr</td>
      <td>Oromo</td>
      <td>Oromoo</td>
      <td>en:Oromo language</td>
      <td></td>
      <td>Saayinsii Namoomaa Dijitaalaa</td>
    </tr>
    <tr>
      <td>tk</td>
      <td>1</td>
      <td>ltr</td>
      <td>Turkmen</td>
      <td>Туркмен / تركمن</td>
      <td>en:Turkmen language</td>
      <td></td>
      <td>Sanly gumanitar ylymlar</td>
    </tr>
    <tr>
      <td>sq</td>
      <td>1</td>
      <td>ltr</td>
      <td>Albanian</td>
      <td>Shqip</td>
      <td>en:Albanian language</td>
      <td></td>
      <td>Shkenca Dixhitale Humane</td>
    </tr>
    <tr>
      <td>lt</td>
      <td>1</td>
      <td>ltr</td>
      <td>Lithuanian</td>
      <td>Lietuvių</td>
      <td>en:Lithuanian language</td>
      <td></td>
      <td>Skaitmeniniai humanitariniai mokslai</td>
    </tr>
    <tr>
      <td>is</td>
      <td>1</td>
      <td>ltr</td>
      <td>Icelandic</td>
      <td>Íslenska</td>
      <td>en:Icelandic language</td>
      <td></td>
      <td>Stafræn hugvísindi</td>
    </tr>
    <tr>
      <td>ht</td>
      <td>1</td>
      <td>ltr</td>
      <td>Haitian</td>
      <td>Krèyol ayisyen</td>
      <td>en:Haitian language</td>
      <td></td>
      <td>Syans imanitè dijital</td>
    </tr>
    <tr>
      <td>rw</td>
      <td>1</td>
      <td>ltr</td>
      <td>Rwandi</td>
      <td>Kinyarwandi</td>
      <td>en:Kinyarwanda language</td>
      <td></td>
      <td>Ubumenyamuntu</td>
    </tr>
    <tr>
      <td>mt</td>
      <td>1</td>
      <td>ltr</td>
      <td>Maltese</td>
      <td>bil-Malti</td>
      <td>en:Maltese language</td>
      <td></td>
      <td>Umanistika Diġitali</td>
    </tr>
    <tr>
      <td>co</td>
      <td>1</td>
      <td>ltr</td>
      <td>Corsican</td>
      <td>Corsu</td>
      <td>en:Corsican language</td>
      <td></td>
      <td>Umanità digitale</td>
    </tr>
    <tr>
      <td>ts</td>
      <td>1</td>
      <td>ltr</td>
      <td>Tsonga</td>
      <td>Xitsonga</td>
      <td>en:Tsonga language</td>
      <td></td>
      <td>Vutivi bya Vanhu bya Dijitali</td>
    </tr>
    <tr>
      <td>ro</td>
      <td>1</td>
      <td>ltr</td>
      <td>Romanian</td>
      <td>Română</td>
      <td>ro:Limba română</td>
      <td></td>
      <td>Științe umaniste digitale</td>
    </tr>
    <tr>
      <td>el</td>
      <td>1</td>
      <td>ltr</td>
      <td>Greek</td>
      <td>Ελληνικά</td>
      <td>el:Ελληνική γλώσσα</td>
      <td></td>
      <td>Ψηφιακές Ανθρωπιστικές Επιστήμες</td>
    </tr>
    <tr>
      <td>sh, sr</td>
      <td>2</td>
      <td>ltr</td>
      <td>Serbo-Croatian, Serbian</td>
      <td>Српски, Srpskohrvatski / Српскохрватски</td>
      <td>sr:Српски језик, en:Serbo-Croatian language</td>
      <td>, deprecated</td>
      <td>Дигиталне хуманистичке науке</td>
    </tr>
    <tr>
      <td>mk</td>
      <td>1</td>
      <td>ltr</td>
      <td>Macedonian</td>
      <td>Македонски</td>
      <td>en:Macedonian language</td>
      <td></td>
      <td>Дигитални хуманистички науки</td>
    </tr>
    <tr>
      <td>bg</td>
      <td>1</td>
      <td>ltr</td>
      <td>Bulgarian</td>
      <td>Български</td>
      <td>bg:Български език</td>
      <td></td>
      <td>Дигитални хуманитарни науки</td>
    </tr>
    <tr>
      <td>mn</td>
      <td>1</td>
      <td>ltr</td>
      <td>Mongolian</td>
      <td>Монгол</td>
      <td>en:Mongolian language</td>
      <td></td>
      <td>Дижитал хүмүүнлэг</td>
    </tr>
    <tr>
      <td>tg</td>
      <td>1</td>
      <td>ltr</td>
      <td>Tajik</td>
      <td>Тоҷикӣ</td>
      <td>en:Tajik language</td>
      <td></td>
      <td>Илмҳои гуманитарии рақамӣ</td>
    </tr>
    <tr>
      <td>be</td>
      <td>1</td>
      <td>ltr</td>
      <td>Belarusian</td>
      <td>Беларуская</td>
      <td>en:Belarusian language</td>
      <td></td>
      <td>Лічбавая гуманітарная навука</td>
    </tr>
    <tr>
      <td>ky</td>
      <td>1</td>
      <td>ltr</td>
      <td>Kirghiz</td>
      <td>Kırgızca / Кыргызча</td>
      <td>en:Kirghiz language</td>
      <td></td>
      <td>Санариптик гуманитардык илимдер</td>
    </tr>
    <tr>
      <td>kk</td>
      <td>1</td>
      <td>ltr</td>
      <td>Kazakh</td>
      <td>Қазақша</td>
      <td>en:Kazakh language</td>
      <td></td>
      <td>Сандық гуманитарлық ғылымдар</td>
    </tr>
    <tr>
      <td>tt</td>
      <td>1</td>
      <td>ltr</td>
      <td>Tatar</td>
      <td>Tatarça</td>
      <td>en:Tatar language</td>
      <td></td>
      <td>Санлы гуманитар фәннәр</td>
    </tr>
    <tr>
      <td>ru</td>
      <td>1</td>
      <td>ltr</td>
      <td>Russian</td>
      <td>Русский</td>
      <td>ru:Русский язык</td>
      <td></td>
      <td>Цифровые гуманитарные науки</td>
    </tr>
    <tr>
      <td>uk</td>
      <td>1</td>
      <td>ltr</td>
      <td>Ukrainian</td>
      <td>Українська</td>
      <td>en:Ukrainian language</td>
      <td></td>
      <td>Цифрові гуманітарні науки</td>
    </tr>
    <tr>
      <td>hy</td>
      <td>1</td>
      <td>ltr</td>
      <td>Armenian</td>
      <td>Հայերեն</td>
      <td>en:Armenian language</td>
      <td></td>
      <td>Թվային հումանիտար գիտություններ</td>
    </tr>
    <tr>
      <td>yi</td>
      <td>1</td>
      <td>rtl</td>
      <td>Yiddish</td>
      <td>ייִדיש</td>
      <td>en:Yiddish language</td>
      <td></td>
      <td>דיגיטאַל הומאַניטיעס</td>
    </tr>
    <tr>
      <td>he</td>
      <td>1</td>
      <td>rtl</td>
      <td>Hebrew</td>
      <td>עברית</td>
      <td>he:עברית</td>
      <td></td>
      <td>מדעי הרוח הדיגיטליים</td>
    </tr>
    <tr>
      <td>ar</td>
      <td>1</td>
      <td>rtl</td>
      <td>Arabic</td>
      <td>العربية</td>
      <td>en:Arabic language</td>
      <td></td>
      <td>إنسانيات رقمية</td>
    </tr>
    <tr>
      <td>ug</td>
      <td>1</td>
      <td>ltr</td>
      <td>Uyghur</td>
      <td>Uyƣurqə / ئۇيغۇرچە</td>
      <td>en:Uyghur language</td>
      <td></td>
      <td>رەقەملىك ئادىمىيلىك</td>
    </tr>
    <tr>
      <td>fa</td>
      <td>1</td>
      <td>rtl</td>
      <td>Persian</td>
      <td>فارسی</td>
      <td>en:Persian language</td>
      <td></td>
      <td>علوم انسانی دیجیتال</td>
    </tr>
    <tr>
      <td>ur</td>
      <td>1</td>
      <td>rtl</td>
      <td>Urdu</td>
      <td>اردو</td>
      <td>en:Urdu language</td>
      <td></td>
      <td>ڈیجیٹل ہیومینٹیز</td>
    </tr>
    <tr>
      <td>ps</td>
      <td>1</td>
      <td>rtl</td>
      <td>Pashto</td>
      <td>پښتو</td>
      <td>en:Pashto language</td>
      <td></td>
      <td>ډیجیټل انسانیتونه</td>
    </tr>
    <tr>
      <td>sd</td>
      <td>1</td>
      <td>rtl</td>
      <td>Sindhi</td>
      <td>सिंधी / سنڌي‎</td>
      <td>en:Sindhi language</td>
      <td></td>
      <td>ڊجيٽل انسانيت</td>
    </tr>
    <tr>
      <td>dv</td>
      <td>1</td>
      <td>rtl</td>
      <td>Divehi</td>
      <td>ދިވެހިބަސް</td>
      <td>en:Divehi language</td>
      <td></td>
      <td>ދިރާގު ހިއުމަނިޓީސް އެވެ</td>
    </tr>
    <tr>
      <td>mr</td>
      <td>1</td>
      <td>ltr</td>
      <td>Marathi</td>
      <td>मराठी</td>
      <td>en:Marathi language</td>
      <td></td>
      <td>डिजिटल मानवता</td>
    </tr>
    <tr>
      <td>hi, ne, sa</td>
      <td>3</td>
      <td>ltr</td>
      <td>Hindi, Nepali, Sanskrit</td>
      <td>नेपाली, संस्कृतम्, हिन्दी</td>
      <td>en:Hindi language, en:Sanskrit language, en:Nepali language</td>
      <td></td>
      <td>डिजिटल मानविकी</td>
    </tr>
    <tr>
      <td>bh</td>
      <td>1</td>
      <td>ltr</td>
      <td>Bihari</td>
      <td>भोजपुरी</td>
      <td>en:Bihari language</td>
      <td></td>
      <td>डिजिटल मानविकी के बारे में बतावल गइल बा</td>
    </tr>
    <tr>
      <td>bn</td>
      <td>1</td>
      <td>ltr</td>
      <td>Bengali</td>
      <td>বাংলা</td>
      <td>en:Bengali language</td>
      <td></td>
      <td>ডিজিটাল মানবিক</td>
    </tr>
    <tr>
      <td>as</td>
      <td>1</td>
      <td>ltr</td>
      <td>Assamese</td>
      <td>অসমীয়া</td>
      <td>en:Assamese language</td>
      <td></td>
      <td>ডিজিটেল মানৱীয় বিজ্ঞান</td>
    </tr>
    <tr>
      <td>pa</td>
      <td>1</td>
      <td>ltr</td>
      <td>Panjabi / Punjabi</td>
      <td>ਪੰਜਾਬੀ / پنجابی</td>
      <td>en:Punjabi language</td>
      <td></td>
      <td>ਡਿਜੀਟਲ ਮਨੁੱਖਤਾ</td>
    </tr>
    <tr>
      <td>gu</td>
      <td>1</td>
      <td>ltr</td>
      <td>Gujarati</td>
      <td>ગુજરાતી</td>
      <td>en:Gujarati language</td>
      <td></td>
      <td>ડિજિટલ માનવતા</td>
    </tr>
    <tr>
      <td>or</td>
      <td>1</td>
      <td>ltr</td>
      <td>Oriya</td>
      <td>ଓଡ଼ିଆ</td>
      <td>en:Oriya language</td>
      <td></td>
      <td>ଡିଜିଟାଲ୍ ମାନବିକତା |</td>
    </tr>
    <tr>
      <td>ta</td>
      <td>1</td>
      <td>ltr</td>
      <td>Tamil</td>
      <td>தமிழ்</td>
      <td>en:Tamil language</td>
      <td></td>
      <td>எண்ணிம மனிதவியல்</td>
    </tr>
    <tr>
      <td>te</td>
      <td>1</td>
      <td>ltr</td>
      <td>Telugu</td>
      <td>తెలుగు</td>
      <td>en:Telugu language</td>
      <td></td>
      <td>డిజిటల్ హ్యుమానిటీస్</td>
    </tr>
    <tr>
      <td>kn</td>
      <td>1</td>
      <td>ltr</td>
      <td>Kannada</td>
      <td>ಕನ್ನಡ</td>
      <td>en:Kannada language</td>
      <td></td>
      <td>ಡಿಜಿಟಲ್ ಹ್ಯುಮಾನಿಟೀಸ್</td>
    </tr>
    <tr>
      <td>ml</td>
      <td>1</td>
      <td>ltr</td>
      <td>Malayalam</td>
      <td>മലയാളം</td>
      <td>en:Malayalam language</td>
      <td></td>
      <td>ഡിജിറ്റൽ ഹ്യുമാനിറ്റീസ്</td>
    </tr>
    <tr>
      <td>si</td>
      <td>1</td>
      <td>ltr</td>
      <td>Sinhalese</td>
      <td>සිංහල</td>
      <td>en:Sinhalese language</td>
      <td></td>
      <td>ඩිජිටල් මානව ශාස්ත්‍ර</td>
    </tr>
    <tr>
      <td>th</td>
      <td>1</td>
      <td>ltr</td>
      <td>Thai</td>
      <td>ไทย / Phasa Thai</td>
      <td>en:Thai language</td>
      <td></td>
      <td>มนุษยศาสตร์ดิจิทัล</td>
    </tr>
    <tr>
      <td>lo</td>
      <td>1</td>
      <td>ltr</td>
      <td>Laotian</td>
      <td>ລາວ / Pha xa lao</td>
      <td>en:Lao language</td>
      <td></td>
      <td>ມະນຸດສາດດິຈິຕອນ</td>
    </tr>
    <tr>
      <td>my</td>
      <td>1</td>
      <td>ltr</td>
      <td>Burmese</td>
      <td>Myanmasa</td>
      <td>en:Burmese language</td>
      <td></td>
      <td>ဒစ်ဂျစ်တယ်လူ့ပညာ</td>
    </tr>
    <tr>
      <td>ka</td>
      <td>1</td>
      <td>ltr</td>
      <td>Georgian</td>
      <td>ქართული</td>
      <td>en:Georgian language</td>
      <td></td>
      <td>ციფრული ჰუმანიტარული მეცნიერებები</td>
    </tr>
    <tr>
      <td>am</td>
      <td>1</td>
      <td>ltr</td>
      <td>Amharic</td>
      <td>አማርኛ</td>
      <td>en:Amharic language</td>
      <td></td>
      <td>ዲጂታል ሰብአዊነት</td>
    </tr>
    <tr>
      <td>ti</td>
      <td>1</td>
      <td>ltr</td>
      <td>Tigrinya</td>
      <td>ትግርኛ</td>
      <td>en:Tigrinya language</td>
      <td></td>
      <td>ዲጂታል ሰብኣዊ ስነፍልጠት</td>
    </tr>
    <tr>
      <td>km</td>
      <td>1</td>
      <td>ltr</td>
      <td>Cambodian</td>
      <td>ភាសាខ្មែរ</td>
      <td>en:Khmer language</td>
      <td></td>
      <td>មនុស្សធម៌ឌីជីថល</td>
    </tr>
    <tr>
      <td>ja</td>
      <td>1</td>
      <td>ltr</td>
      <td>Japanese</td>
      <td>日本語</td>
      <td>ja:日本語</td>
      <td></td>
      <td>デジタル・ヒューマニティーズ</td>
    </tr>
    <tr>
      <td>zh</td>
      <td>1</td>
      <td>ltr</td>
      <td>Chinese</td>
      <td>中文</td>
      <td>zh:汉语</td>
      <td></td>
      <td>数字人文</td>
    </tr>
    <tr>
      <td>ko</td>
      <td>1</td>
      <td>ltr</td>
      <td>Korean</td>
      <td>한국어</td>
      <td>en:Korean language</td>
      <td></td>
      <td>디지털 인문학</td>
    </tr>
  </tbody>
</table>